body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    
  }
  
  .about-section {
    margin-top: 50px;
    padding: 50px;
    background-color:  #87c8e5;;
    color: white;
  }

  .about-section p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#colour-change{
  color: white;
}

.contact-info{
  margin-top: 50px;
  padding: 50px;
  background-color:  #87c8e5;;
  color: white;
}